@model Observatorio.Investigacion

@{
    ViewBag.Title = "Eliminar investigación";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">

<h2 id="tituloih">Eliminar investigación</h2>
<hr />

<h3 style="padding-left: 5%">¿Desea eliminar la siguiente información?</h3>
<br />
<div style="padding-left: 10%">
    <div class="row">
        <h4 id="subtitle">Nombre de la investigación:</h4>
        <p>@Html.DisplayFor(model => model.Nombre)</p>
        <br />
        <h4 id="subtitle">Autor de la investigación:</h4>
        <p>@Html.DisplayFor(model => model.Autor)</p>
        <br />
        <h4 id="subtitle">Descripción:</h4>
        <p style="width: 700px">@Html.DisplayFor(model => model.Descripcion)</p>
        <br />
        <h4 id="subtitle">Idioma del documento:</h4>
        <p>@Html.DisplayFor(model => model.Idioma.Descripcion)</p>
        <br />
        <h4 id="subtitle">País de procedencia:</h4>
        <p>@Html.DisplayFor(model => model.Pais.Descripcion)</p>
        <br />
        <h4 id="subtitle">Tipo de investigación:</h4>
        <p>@Html.DisplayFor(model => model.Tipo_Investigacion.Descripcion)</p>
        <br />
    </div>        
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            @Html.ActionLink("Atrás", "Index", null, new { @class = "btn btn-default btn-large" })
        </div>
    }
    <br />
</div>
