@model PagedList.IPagedList<Observatorio.Analisis>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Análisis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/PagedList.css" rel="stylesheet" />

<h2>Análisis</h2>

<p>
    @Html.ActionLink("Crear documento", "Create", null, new { @class = "btn btn-success btn-large" })
</p>
@using (Html.BeginForm("Index", "Analisis"))
{
<div class="form-inline">
    <div class="col-md-2">
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Nombre del documento", @maxlength = "80", @autocomplete = "off" })
    </div>
    <div class="col-md-2">
        @Html.DropDownList("idioma", new SelectList(ViewBag.ID_idioma, "Value", "Text"), "-Seleccionar idioma-", new { @class = "form-control" })
    </div>
    <div class="col-md-2">
        @Html.DropDownList("idioma", new SelectList(ViewBag.ID_idioma, "Value", "Text"), "-Seleccionar idioma-", new { @class = "form-control" })
    </div>
    <div class="col-md-2">
        @Html.DropDownList("idioma", new SelectList(ViewBag.ID_idioma, "Value", "Text"), "-Seleccionar idioma-", new { @class = "form-control" })
    </div>
    <div class="col-md-2">
        <input type="submit" value="Buscar" class="btn btn-default" />
    </div>    
</div>
}
<div>
    <table class="table">
        <tr>
            <th>
                Nombre del documento
            </th>
            <th>
                Descripción
            </th>
            @*<th>
                    Documento
                </th>
                <th>
                    Idioma del documento
                </th>
                <th>
                    País de procedencia
                </th>*@
            <th>
                Tipo de análisis
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.URL)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Idioma.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pais.Descripcion)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo_Analisis.Descripcion)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.ID_Analisis }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.ID_Analisis }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.ID_Analisis })
                </td>
            </tr>
        }

    </table>
</div>

@if (ViewBag.count > 10) // paginacion
{

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

}
