@model Observatorio.Analisis

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">

<h2 id="tituloih">Detalles</h2>
<hr />

<div style="padding-left: 10%"> 
    <div class="row">
        <h4 id="subtitle">Nombre del documento:</h4>
        <p>@Html.DisplayFor(model => model.Nombre)</p>
        <br />
        <h4 id="subtitle">Descripción:</h4>
        <p style="width: 700px">@Html.DisplayFor(model => model.Descripcion)</p>
        <br />
        <h4 id="subtitle">Idioma del documento:</h4>
        <p>@Html.DisplayFor(model => model.Idioma.Descripcion)</p>
        <br />
        <h4 id="subtitle">País de procedencia:</h4>
        <p>@Html.DisplayFor(model => model.Pais.Descripcion)</p>
        <br />
        <h4 id="subtitle">Tipo de análisis:</h4>
        <p>@Html.DisplayFor(model => model.Tipo_Analisis.Descripcion)</p>
        <br />
        <h4 id="subtitle">Archivo PDF:</h4>
        <p>
            @using (Html.BeginForm("Download", "Analisis"))
            {
                <input type="hidden" value="@Model.URL" name="fileName" />
                <button class="btn btn-default btn-group-sm" type="submit">Descargar</button>
            }
            @using (Html.BeginForm("ShowPDF", "Analisis"))
            {
                <input type="hidden" value="@Model.URL" name="fileName" />
                <button class="btn btn-default btn-group-sm" type="submit">Visualizar</button>
            }
        </p>
        <br />
    </div>    
</div>
<p style="padding-left: 10%">
    @if (HttpContext.Current.User.IsInRole("Administrador") || User.IsInRole("Editor"))
    {
        <button class="btn btn-default" onclick="location.href='@Url.Action("Edit", "Analisis", new { id = Model.ID_Analisis })'">Editar</button>        
    }
    @Html.ActionLink("Atrás", "Index", null, new { @class = "btn btn-default btn-large" })
</p>
